@font-face {
	font-family: 'Museo Sans 700 Bold';
	src: url(../fonts/'MuseoSansCyrl-700.eot');
	src: url(../fonts/'MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
	url(../fonts/'MuseoSansCyrl-700.woff') format('woff'),
	url(../fonts/'MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
	
*, *:before, *:after{
	box-sizing: border-box;
}
*:focus:not(:focus-visible){
	outline: none;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

html, body{
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}
img{
	width: 100%;
	height: 100%;
}

.container{
	width: 113.5rem; /*1rem=10px*/
	margin: 0 auto;

}

@media (max-width: 108em) {
	html {
			font-size: 9px;
	}
}

@media (max-width: 105em) {
	html {
			font-size: 8.75px;
	}
}

@media (max-width: 91.5em) {
	html {
			font-size: 7.9px;
	}
}

@media (max-width: 91em) {
	html {
			font-size: 8.4px;
	}
}

@media (max-width: 90em) {
	html {
			font-size: 7.9px;
	}
}

@media (max-width: 80em) {
	html {
			font-size: 7.2px
	}
}

@media (max-width: 72em) {
	html {
			font-size: 6.5px;
	}
}

@media (max-width: 64em) {
	html {
			font-size: 5.5px;
	}
}



@media (max-width: 44em) {
	html {
			font-size: 9px;
	}
}

@media (max-width: 38em) {
	html {
			font-size: 8px;
	}
}

@media (max-width: 34em) {
	html {
			font-size: 7px;
	}
}

@media (max-width: 30em) {
	html {
			font-size: 6px;
	}
}

@media (max-width: 26em) {
	html {
			font-size: 4.5px;
	}
}

@media (max-width: 21em) {
	html {
			font-size: 4.4px;
	}
}



.header{
	position: absolute;
	left: 50%;
	top: 6.4rem;
	transform: translate(-50%, 0);
	display: flex;
	margin: 6.4rem 0;
}
.header .container, .footer .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__menu{
	display: flex;
	align-items: center;
}
.header__menu ul{
	display: flex;
}
body{
	
}
.header__logo {
	width: 7.9rem;
	height: 2.8rem;
	margin-right: 3.9rem;
}
.header__nav {
	display: flex;
}
.header__nav ul li a{
	color: #fff;

	font-style: normal;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 114%;	
}
.header__nav ul li:not(:last-child){
	margin-right: 2.4rem;
}
.header__social {
	display: flex;
}
.header__social-icon{
	width: 1.7rem;
	height: 1.6rem;
}
.header__social-icon:not(:last-child){
	margin-right: 2rem;
}
.header__nav-mobile,
.header__menu-close,
.menu-burger{
	display: none;
}
.main{
	padding-top: 18.7rem;
	padding-bottom: 10.4rem;
	background: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: top;
}
.main__header{
	font-family: 'Museo Sans 700 Bold';
	font-size: 7.6rem;
	line-height: 120%;
}

.main__rating {
}
.main__rating-title {
	font-size: 1.4rem;
	line-height: 114%;	
	margin-bottom: 1.6rem;
}
.main__rating-wrap {
	display: flex;
	align-items: center;
}
.main__rating-stars {
	display: flex;
	align-items: center;
	margin-right: 0.9rem;
	margin-bottom: 1rem;
}
.main__rating-star {
	width: 1.2rem;
	height: 1.2rem;
	flex-shrink: 0;
	cursor: pointer;
}
.main__rating-star:not(:last-child){
	margin-right: 0.4rem;
}

.main__rating-number {
	font-size: 1.2rem;
	line-height: 117%;	
}
.main__header {
}
.main__description-wrap{
	display: flex;
	align-items: center;
}
.main__description {
	max-width: 52.8rem;
	margin-bottom: 4.1rem;

	font-size: 1.4rem;
	line-height: 150%;	
}
.main__button-play{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 13.2rem;
	height: 13.2rem;
	margin-left: 33.1rem;
	border-radius: 50%;
	background-color: #391917;
	cursor: pointer;
}
.main__button-dark{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	background-color: #151515;
}
.main__button-dark img{
	opacity: 1;
	width: 3.5rem;
	height: 4rem;
}
.main__button {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 24.5rem;
	font-size: 1.4rem;
	line-height: 114%;
	color: #ffffff;
	text-decoration: none;
	padding: 2.2rem 7.2rem;
	margin-bottom: 8.8rem;
	background-color: #151515;
	border-radius: .8rem;
}
.main-slider__wrap{
	width: 41.5rem;
	display: flex;
	align-items: center;
}
.main-slider-slide{
	position: relative;
	width: 16.4rem;
	height: 10.5rem;
	border-radius: 0.8rem;
	overflow: hidden;

}
.main-slider-slide span{
	position: absolute;
	left: 1.2rem;
	bottom: 0.6rem;
	transform: translate(0, 0);
	font-size: 1rem;
	font-weight: 120%;
}
.main-slider-slide img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main-slider__arrow{
	width: 3.2rem;
	height: 2.2rem;
	flex-shrink: 0;
	margin-left: 2.8rem;
	cursor: pointer;
}

.footer{
	background: #030102;
	padding: 2rem 0;
}
.footer .container{

}
.footer__menu{
	padding-left: 0;
}
.footer__copy{
	color: #424141;
	font-size: 1.4rem;
	line-height: 143%;	
}
.footer__menu ul{
	display: flex;
}
.footer__menu ul li{
	list-style: none;
}
.footer__menu ul li:not(:last-child){
	margin-right: 2.5rem;
}
.footer__menu ul li a{
	color: #424141;

	font-size: 1.4rem;
	line-height: 143%;
}

.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 3rem 0;
	z-index: 100;
	display: none;
}
.modal__inner{
	width: 100rem;
	height: 60rem;
}
.active{
	display: flex;
}

@media (max-width: 48em) {
	html {
			font-size: 10px;
	}
	.container{
		width: 100%;
		padding: 0 3rem;
	}
	.header{
		display: none;
		/* position: relative; */
		margin-top: 0;
		padding-bottom: 4rem;
		padding-top: 4rem;

		width: 69.4%;
		background-color: #151515;
		top: 0;
		transform: translate(-28%, 0);
		z-index: 2;
	}
	.header__logo{
		margin-right: 0;
		margin-bottom: 3.5rem;
	}
	.header__social{
		margin-bottom: 2.2rem;
	}
	.header .container, .header__menu {
		display: flex;
		flex-direction: column;
	}
	.header__nav{
		display: none;
	}
	.header__nav-mobile ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 0;
	}
	.header__nav-mobile ul li:not(:last-child){
		margin-bottom: 1.7rem;
	}
	.header__nav-mobile{
		display: flex;
		flex-direction: column;
		
	}
	.header__nav-mobile a{
		color: #ffffff;
		text-decoration: none;
		font-weight: normal;
		font-size: 1.4rem;
		line-height: 114%;
	}
	.header__menu-close{
		display: block;
		position: absolute;
		right: 4rem;
		top: 4rem;
		width: 2.3rem;
		height: 2.3rem;
	}
	.menu-burger{
		display: block;
		position: absolute;
		right: 5%;
		top: 0;
		width: 6rem;
		height: 6rem;
	}
	.main{
		background-position-x: 66%;
	}
	.main__description-wrap{
		flex-direction: column;
		margin-bottom: 5rem;
		/* margin-left: -10rem; */
	}
	.main__button-play{
		margin-left: 0;
	}
	.main-button{
		margin-bottom: 4.4rem;
	}
	.main-slider__arrow{
		display: none;

	}
	.main-slider__wrap{
		max-width: 53.5%;
	}
	.footer .container{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.footer .container ul{
		padding-left: 0;
	}

	.modal{

		padding: 3rem;

	}
	.modal__inner{
		width: 100%;
		height: 40rem;
	}
}