@font-face {
	font-family: 'Museo Sans 700 Bold';
	src: url(../fonts/'MuseoSansCyrl-700.eot');
	src: url(../fonts/'MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
	url(../fonts/'MuseoSansCyrl-700.woff') format('woff'),
	url(../fonts/'MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
	
*, *:before, *:after{
	box-sizing: border-box;
}
*:focus:not(:focus-visible){
	outline: none;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

html, body{
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}


.container{
	width: 113.5rem; /*1rem=10px*/
	margin: 0 auto;

}

.header{
	position: absolute;
	left: 50%;
	top: 6.4rem;
	transform: translate(-50%, 0);
	display: flex;
	margin: 6.4rem 0;
}
.header .container, .footer .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__menu{
	display: flex;
	align-items: center;
}
.header__menu ul{
	display: flex;
}
body{
	
}
.header__logo {
	width: 7.9rem;
	height: 2.8rem;
	margin-right: 3.9rem;
}
.header__nav {
	display: flex;
}
.header__nav ul li a{
	color: #fff;

	font-style: normal;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 114%;	
}
.header__nav ul li:not(:last-child){
	margin-right: 2.4rem;
}
.header__social {
}
.header__social-icon{
	width: 1.7rem;
	height: 1.6rem;
}
.header__social-icon:not(:last-child){
	margin-right: 2rem;
}
.main{
	padding-top: 18.7rem;
	background: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: top;
}
.main__header{
	font-family: 'Museo Sans 700 Bold';
	font-size: 7.6rem;
	line-height: 120%;
}

.main__rating {
}
.main__rating-title {
	font-size: 1.4rem;
	line-height: 114%;	
	margin-bottom: 1.6rem;
}
.main__rating-wrap {
	display: flex;
	align-items: center;
}
.main__rating-stars {
	display: flex;
	align-items: center;
	margin-right: 0.9rem;
	margin-bottom: 1rem;
}
.main__rating-star {
	width: 1.2rem;
	height: 1.2rem;
	flex-shrink: 0;
	cursor: pointer;
}
.main__rating-star:not(:last-child){
	margin-right: 0.4rem;
}

.main__rating-number {
	font-size: 1.2rem;
	line-height: 117%;	
}
.main__header {
}
.main__description {
	max-width: 52.8rem;
	margin-bottom: 4.1rem;

	font-size: 1.4rem;
	line-height: 150%;	
}
.main__button {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 24.5rem;
	font-size: 1.4rem;
	line-height: 114%;
	color: #ffffff;
	text-decoration: none;
	padding: 2.2rem 7.2rem;
	margin-bottom: 8.8rem;
	background-color: #151515;
	border-radius: .8rem;
}


.footer{
	background: #030102;
	padding: 2rem 0;
}
.footer .container{

}
.footer__menu{
	padding-left: 0;
}
.footer__copy{
	color: #424141;
	font-size: 1.4rem;
	line-height: 143%;	
}
.footer__menu ul{
	display: flex;
}
.footer__menu ul li{
	list-style: none;
}
.footer__menu ul li:not(:last-child){
	margin-right: 2.5rem;
}
.footer__menu ul li a{
	color: #424141;

	font-size: 1.4rem;
	line-height: 143%;
}